.oddRowContainer {
    background-color: white;
  }
  .evenRowContainer {
    background-color: #EBECF0;
  }

.menuButton {
    height: 40px;
    width: 60px;
    /* background-image: url('../../assets/threeDots.png'); */
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menuButton:hover {
    opacity: 0.7;
}

.threeDotsImg {
    height: 20px;
    width: 40px;
}